.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

.review-list {
  display: inline;
  align-items: center;
}

.review {
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  margin: 10px;
}

.review-img {
  max-width: 300px;
  max-height: 300px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 15px;
}

.comment-count {
  padding: 5px;
}

.author-info {
  padding: 5px;
}

.single-review {
  display: inline-block;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}

.review-body {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.upVote-button {
  margin: 5px;
  background-color: greenyellow;
  border-radius: 10px;
}
.downVote-button {
  margin: 5px;
  background-color: orangered;
  border-radius: 10px;
}

.comments-list {
  display: block;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.comment {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

#author {
  margin: 10px;
  border: #282c34 solid 2px;
  background-color: beige;
}

#comment-body {
  height: 80px;
  width: 420px;
  margin: 10px;
  border: black solid 2px;
  background-color: beige;
}

#comment-body-green {
  height: 80px;
  width: 420px;
  margin: 10px;
  border: greenyellow solid 2px;
  background-color: beige;
}

#limit {
  max-width: 20px;
}

@media screen and (min-width: 600px) {
    /* .review {
      display: grid;
      height: 1fr;
      grid-template-areas: 
      'title title title'
      'review review review';
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto 1fr;
    }   */
    .review-list {
      display: inline-block;
    }

    .review {
      display: inline-block;
      width: 400px;
      height: 500px;
    }
    .single-review {
      max-width: 1450px;
    }
    .review-img {
      width: 200px;
      height: 150px
    }
    .review-title {
      max-height: 10px;
      padding: 25px;
      margin: 10px
    }
}