.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

.review-list {
  align-items: center;
}

.review {
  align-items: center;
  border: 2px solid black;
}

.review-img {
  max-width: 300px;
  max-height: 300px;
  border: 3px solid black;
  border-radius: 15px;
}

.category-tag {
  /* display: inline; */
  /* padding: 5px; */
}

.comment-count {
  /* display: inline; */
  padding: 5px;
}

.author-info {
  padding: 5px;
}

@media screen and (min-width: 600px) {
    /* .review {
      display: grid;
      height: 1fr;
      grid-template-areas: 
      'title title title'
      'review review review';
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto 1fr;
    }   */
    .review-list {
      display: inline-block;
    }

    .review {
      display: inline-block;
      width: 400px;
      height: 500px;
    }
}